<h1>SITE DASHBOARD</h1>

<ol id="admin_nav">
  <li href="#categories">Categories</li>
  <li href="#menu_items">Menu Items</li>
  <li href="#testimonials">Testimonials</li>
  <li href="#site_photos">Site Photos</li>
</ol>


<div id="categories" class="admin_opts">
</div>

<div id="menu_items" class="admin_opts">
</div>

<div id="testimonials" class="admin_opts">
</div>

<div id="site_photos" class="admin_opts">
</div>

<table>
  <tr>
    <td>Categor</td>
    <td>Smith</td>
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>
    <td>94</td>
  </tr>
</table>


<h1></h1>
<% @categories.each do |c| %>
  <%= c.name %>
  <%= c.description %>
<% end %>
